<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">




    <h1>Usuario: </h1>  <h1 th:text="${objeto}"></h1>




</div>



</body>
</html>

<!--




    <h2>Formulario de Registro</h2>
    <form action="/home/api/{1}" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="nameServer" required>

        <label for="user">Usuario:</label>
        <input type="text" id="user" name="userServer" required>

        <button type="submit">Enviar</button>
    </form>









-->