<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de Publicación</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<!-- th:object="${element}" presente en el formulario -->
<!-- Plantilla del usuario con privilegios: administrador. -->
<th:block th:if="${user != null and user.name == 'administrador'}">
    <!-- Ruta de actualización. -->
    <form th:action="@{/home/api/content/update}" method="post" th:object="${element}">
        <input type="hidden" name="id_content" th:value="${element.id_content}" />
        <label>Título:</label>
        <input type="text" th:field="*{title}" />

        <label>Contenido:</label>
        <textarea th:field="*{text}"></textarea>

        <button type="submit">Actualizar</button>
    </form>


    <!-- Ruta de borrado. -->
    <form th:action="@{/home/api/content/delete}" method="post">
        <input type="hidden" name="id_content" th:value="${element.id_content}" />
        <button type="submit">Borrar</button>
    </form>

</th:block>




<!-- Plantilla del usuario sin privilegios: invitado. -->
<th:block th:if="${user != null and user.name == 'invitado'}">

<h1><span th:text="${element.title}">Título</span></h1> <h2><span th:text="${#dates.format(element.date, 'dd/MM/yyyy')}">Fecha</span></h2>

<pre>
<span th:text="${element.text}">Contenido</span>
</pre>


</th:block>



<form th:action="@{/home/api/content}" method="get">
    <button type="submit">ATRÁS</button>
</form>

<form th:action="@{/home/api/user/logout}" method="post" th:if="${user.name != null}">
    <button type="submit">Cerrar sesión</button>
</form>























</body>
</html>
